.profile-block
    .profile-block-left
        !=buttonGoBack
    .profile-block-right
        .profile
            img.profile-avatar-img(src=userAvatar)
            h1.profile-name!=firstNameLine
            .profile-info
                -
                    const profileINfo = [{
                        "name": "Старый пароль",
                        "value": inputCurrectPassword,
                    }, {
                        "name": "Новый пароль",
                        "value": inputNewPassword,
                    }, {
                        "name": "Повторите новый пароль",
                        "value": inputNewPasswordAgain,
                    }];
                each val in profileINfo
                    .profile-info-block
                        .profile-info-block-name= val.name
                        .profile-info-block-value!= val.value
            .profile-buttons
                .profile-buttons-block
                    !=buttonSave
