$bg_color: #ffffff;
$primary_color: #3369f3;
$dark_color: #1e1e1e;
$placeholder_color: #999999;
$gray_color: #fbfbfb;
$line_color: #eaeaea;
$red_color: #ff0000;
$error_color: #ff2f2f;
$search_color: #efefef;
