@import './_const';

.chats {
  display: flex;
  width: 100vw;
  box-sizing: border-box;

  &-left {
    height: 100vh;
    width: 310px;
    border-right: 1px solid $line_color;
    background: $gray_color;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 100vh;

    &-header {
      display: flex;
      margin-top: 10px;
      margin-left: 20px;
      &-avatar {
        width: 34px;
        height: 34px;
        border-radius: 50%;
      }
      &-name {
        display: flex;
        align-items: center;
        width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        margin-left: 10px;
      }
    }

    &-button {
      display: flex;
      align-self: center;
    }

    &-input {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      padding-bottom: 14px;
      border-bottom: 1px solid $line_color;
    }

    &-list {
      list-style: none;
      padding: 0;
      margin-top: 0;
    }
  }

  &-right {
    display: flex;
    width: calc(100% - 311px);
    justify-content: center;
    align-items: center;

    &-text {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: $placeholder_color;
      position: fixed;
    }

    &-block {
      height: 100%;
      width: 100%;
      z-index: 1;
    }

    &-header {
      height: 54px;
      border-bottom: 1px solid #eaeaea;
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      justify-content: space-between;

      &-left {
        align-self: center;
        display: flex;
        align-items: center;
      }

      &-right {
        display: flex;
        align-items: center;
      }

      &-avatar {
        width: 34px;
        height: 34px;
        border-radius: 50%;
      }

      &-name {
        margin-left: 10px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        color: $dark_color;
      }
    }

    &-chat {
      height: calc(100vh - 110px);
      background: $bg_color;
      padding-top: 30px;
      box-sizing: border-box;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: start;

      &-msg {
        margin-left: 10px;
        margin-right: 10px;
        background: $msg_color;
        max-width: 40%;
        border-radius: 0 15px 15px;
        padding: 11px;
        word-wrap: break-word;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;

        &-my {
          background: #e4edfd;
          align-self: flex-end;
          border-radius: 15px 15px 0;
          .chats-right-chat-msg-time {
            color: $primary_color;
          }
        }

        &-text {
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: $dark_color;
        }

        &-time {
          text-align: right;
          margin-left: 10px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 9px;
          line-height: 9px;
          color: $placeholder_color;
        }
      }
    }

    &-footer {
      height: 54px;
      border-top: 1px solid #eaeaea;
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      justify-content: space-between;

      &-left {
        align-self: center;
        display: flex;
        align-items: center;
        width: 100%;
        margin-right: 10px;
      }

      &-right {
        align-self: center;
        display: flex;
        align-items: center;
      }
    }
  }
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: $bg_color;
  min-width: 160px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 12px;
  background: #fff;
  z-index: 1;
  right: 16px;
  top: 20px;

  &:hover {
    display: block;
  }
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
