extends ../layout/pattern.pug

include ../components/form/form.pug
include ../components/input/input.pug
include ../components/button/button.pug


block pageHead
    title Вход

block pageBody
    -
        const inputs = [{
            "type": "text",
            "placeholder": "Логин",
            "name": "login"
        }, {
            "type": "password",
            "placeholder": "Пароль",
            "name": "password"
        }];
    +Form()
        .form-first
            h2(class="form-title") Вход
            each val, index in inputs
                +Input(val.type, val.placeholder, `input${index}`, val.name)
        .form-second
            +Button("Авторизоваться", "button-primary")
            +Button("Нет аккаунта?", "button button-transparent")
