extends ../layout/pattern.pug

include ../components/form/form.pug
include ../components/input/input.pug
include ../components/button/button.pug

block pageHead
    title Регистрация

block pageBody
    -
        const inputs = [{
            "type": "email",
            "placeholder": "Почта",
            "name": "email"
        }, {
            "type": "text",
            "placeholder": "Логин",
            "name": "login"
        }, {
            "type": "text",
            "placeholder": "Имя",
            "name": "first_name"
        }, {
            "type": "text",
            "placeholder": "Фамилия",
            "name": "second_name"
        }, {
            "type": "tel",
            "placeholder": "Телефон",
            "name": "phone"
        }, {
            "type": "password",
            "placeholder": "Пароль",
            "name": "password"
        }, {
            "type": "password",
            "placeholder": "Пароль (ещё раз)",
            "name": "password"
        }];
    +Form()
        .form-first
            h2(class="form-title") Регистрация
            each val, index in inputs
                +Input(val.type, val.placeholder, `input${index}`, val.name)
        .form-second
            +Button("Зарегистрироваться", "button-primary")
            +Button("Войти", "button button-transparent")
