include ../components/button/button.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="~/src/styles/global_styles.scss")
        link(rel="stylesheet" href="~/src/styles/profile_pattern.scss")
        link(rel="stylesheet" href="~/src/styles/profile.scss")
        block pageHead
    body 
        .profile-block
            .profile-block-left
                a(class='button-back' href='/') 
                    <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="13" y="6.80005" width="11" height="1.6" transform="rotate(-180 13 6.80005)" fill="white"/>
                        <path d="M6 11L2 6L6 1" stroke="white" stroke-width="1.6"/>
                    </svg>
            .profile-block-right
                block pageBody